body {
  color: black;
}

button {
  background-color: #99d5ca;
}

.card-header {
  background-color: #ffc374;
}

/* h1 {
  color: pink;
} */


/* 
get weather button: #99d5ca
top of headers: #ffc374
text color: #000000
*/